{% extends "base.html" %}

{% block title %} Topic details {% endblock title %}

{% block content %}
<h3>Topic details</h3>
<br>

<ul class="list-group">
  <li class="list-group-item"><strong>Title: </strong>{{ topic.title }}</li>
  <li class="list-group-item"><strong>Content: </strong>{{ topic.content }}</li>
  <li class="list-group-item"><strong>Created by: </strong>{{ topic.author_email }}</li>
  <li class="list-group-item"><strong>Created: </strong>{{ topic.created.strftime('%b %d, %Y  %H:%M') }}</li>
  <li class="list-group-item"><strong>Last updated: </strong>{{ topic.updated.strftime('%b %d, %Y  %H:%M') }}</li>
</ul>
<a href="/topics/{{ topic.key.id() }}/delete">Delete topic</a>
<br>
<br>

<h3>Add new comment</h3>
<br>

  <form action="/topics/{{topic.key.id()}}/comment/add" method="post">
    <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
        <div class="form-group">
            <label>Text</label>
            <input type="textarea" class="form-control" name="comment" required>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
  </form>

<br>
<h3>Comments</h3>
<br>
{% if comments %}
  {% for com in comments %}
    <ul class="list-group">
      <li class="list-group-item"><strong>Author: </strong>{{ com.author_email }}</li>
      <li class="list-group-item"><strong>Comment: </strong>{{ com.content }}</li>
      <li class="list-group-item"><strong>Added: </strong>{{ com.created.strftime('%b %d, %Y  %H:%M') }}</li>
    </ul>
  {% endfor %}
{% else %}
  <h4>No comments for this topic yet</h4>
{% endif %}

{% endblock content %}
